@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

#app {
	height: 100vh;
}

.sprite {
	width: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}